*{
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

@keyframes opacity {
    0%{
        opacity: 0;
    }

    100%{
        opacity: 1;
    }
}

body{
    display: none;
}

nav{
    border-bottom-style: solid;
    border-bottom-color: #000;
    border-bottom-width: 1px;
    height: 100px;
    -webkit-box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.22); 
    box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.22);
}

nav .icon{
    position: absolute;
    background-image: url(./img/icone02.png);
    transform: translate(50px, 10px);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 80px;
    height: 80px;
}

nav ul{
    list-style: none;
    display: inline-flex;
}

nav input{
    width: 150px;
    padding: .5rem;
    border-radius: 30px;
    border-style: solid;
    margin: 2rem .5rem 2rem .5rem;
}

nav .config{
    width: 35px;
    height: 35px;
    margin: 2rem;
    cursor: pointer;
    background-image: url(./img/menu.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/*Options */

.options{
    position: absolute;
    top: 80px;
    right: 80px;
    z-index: 3;
    width: 200px;
    height: fit-content;
    background-color: #fff;
    border: solid #000 1px;
    -webkit-box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.18); 
    box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.18);
    display: none;
}

.options .btn{
    user-select: none;
    padding: 1rem;
    border-bottom: solid #000 1px;
    background-color: #fff;
}

.options .btn:hover{
    transition: linear .3s;
    cursor: pointer;
    background-color: #ffe7e7;

}

.options #change-background{
    background-image: url(./img/edit.png);
    background-position-y: center;
    background-position-x: 160px;
    background-repeat: no-repeat;
    background-size: 20px;
}

.options #select-alunos{
    background-image: url(./img/idcards.png);
    background-position-y: center;
    background-position-x: 160px;
    background-repeat: no-repeat;
    background-size: 20px;
}

.options #select-config{
    background-image: url(./img/config.png);
    background-position-y: center;
    background-position-x: 160px;
    background-repeat: no-repeat;
    background-size: 20px;
}

.options #exit{
    background-image: url(./img/exit.png);
    background-position-y: center;
    background-position-x: 160px;
    background-repeat: no-repeat;
    background-size: 20px;
}

/*------*/

select{
    margin: 2rem 1rem 2rem 1rem;
    width: 200px;
    border-radius: 30px;
    padding: .5rem;
    border-style: solid;
    text-align: center;
}

select option{
    padding: .5rem;
}

.turma-btn{
    margin-top: 2rem;
    width: 100px;
    text-align: center;
    padding: .5rem;
    border-radius: 30px;
    color: #fff;
    font-weight: bolder;
    background-color: rgb(255, 86, 25);
    user-select: none;
    cursor: pointer;
}

.turma-btn:hover{
    transition: linear .3s;
    background-color: rgb(255, 80, 16);
}

/* Carteirinha */

.card{
    margin: 2rem;
    list-style: none;
    display: inline-flex;
}

.card li{
    margin-right: 1rem;
}

.card img{
    width: 321px;
    height: 210px;
    border-radius: 7px;
    border-style: solid;
    border-width: 1px;
}

    /*Dados dos Alunos*/
    .dados-alunos{
        position: absolute;
        transform: translate(55px, -220px);
        font-size: 13px;
    }

    .dados-alunos img{
        transform: translate(0px, 20px);
        width: 75px;
        height: 105px;
        border-radius: 8px;
    }

    .dados-alunos span{
        font-weight: bolder;
        font-size: 9px;
    }

    .dados-alunos #name{
        position: absolute;
        width: 178px;
        transform: translate(90px, -90px);
    }

    .dados-alunos #matricula{
        position: absolute;
        width: 200px;
        transform: translate(200px, 10px);
    }

    .dados-alunos #turma{
        position: absolute;
        width: 210px;
        transform: translate(90px, -33px);
    }

    .dados-alunos #nascimento{
        position: absolute;
        width: 200px;
        transform: translate(90px, 10px);
    }

    /*Verso*/

    .dados-alunos #lei{
        position: absolute;
        width: 280px;
        transform: translate(335px, -90px);
        font-size: 6pt;
        text-align: justify;
    }

    .dados-alunos .qrcode{
        position: absolute;
        width: 60px;
        height: 60px;
        border-radius: 0px;
        transform: translate(480px, 100px);
    }

    .dados-alunos #validade{
        position: absolute;
        width: 200px;
        transform: translate(430px, -20px);
        font-size: 8pt;
    }

    .dados-alunos #email{
        position: absolute;
        width: 200px;
        transform: translate(380px, 14px);
        font-size: 6.5pt;
    }

    .dados-alunos #school-name{
        position: absolute;
        width: 200px;
        transform: translate(380px, 2px);
        font-weight: bolder;
        font-size: 6.5pt;
    }

    .dados-alunos #endereco{
        position: absolute;
        width: 200px;
        transform: translate(380px, 26px);
        font-size: 7pt;
    }

    .dados-alunos #telefone{
        position: absolute;
        width: 200px;
        transform: translate(440px, 40px);
        font-size: 7pt;
    }

/*Upload photos*/

.black-background{
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #0000008c;
    z-index: 2;
    display: none;
    animation: opacity .3s ease-in-out;
}

.black-background .subtitle{
    font-weight: bolder;
    margin: 2rem;
}

.black-background .subtitle span{
    font-size: 10pt;
    font-weight: initial;
}

.black-background .modal-config{
    transform: translate(0rem, 2rem);
    width: 500px;
    background-color: #fff;
    border-radius: 12px;
    padding: .5rem;
    display: none;
}

#front{
    display: none;
}

.black-background .front-icon{
    margin-top: 1rem;
    width: 160.5px;
    height: 105px;
    background-image: url(./img/front.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;
}

.black-background .front-icon:hover{
    border-style: solid;
    border-radius: 8px;
    border-width: 1px;
    border-color: #000;
}

#verse{
    display: none;
}

.black-background .verse-icon{
    margin-top: 1rem;
    width: 160.5px;
    height: 105px;
    background-image: url(./img/verse.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;
}

.black-background .verse-icon:hover{
    border-style: solid;
    border-radius: 8px;
    border-width: 1px;
    border-color: #000;
}

.change-btn{
    width: 200px;
    padding: .5rem;
    border-radius: 30px;
    background-color: rgb(252, 107, 54);
    cursor: pointer;
    user-select: none;
    font-weight: bolder;
    color: #fff;
    margin: 2rem;
}

.change-btn:hover{
    transition: linear .3s;
    background-color: rgb(255, 96, 39);
}

.black-background .close{
    font-weight: bolder;
    transform: translate(280px, 40px);
    color: #fff;
    font-size: 20pt;
    user-select: none;
    cursor: pointer;
}

/*Lista*/

.modal-list{
    width: 500px;
    height: 380px;
    padding: 2rem;
    background-color: #fff;
    transform: translateY(10%);
    overflow-y: scroll;
    border-radius: 7px;
    display: none;
}

.modal-list .list-students{
    list-style: none;
    height: 200px;
    text-align: left;
}

.modal-list #list-students li{
    text-align: left;
    padding: .5rem;
}

#generate-cards-btn{
    width: fit-content;
    background-color: rgb(255, 96, 39);
    color: #fff;
    cursor: pointer;
    user-select: none;
    font-weight: bolder;
    border-radius: 30px;
    padding: .5rem;
}

#generate-cards-btn:hover{
    background-color: rgb(233, 89, 37);
    transition: linear .3s;
}

#generate-cards-btn:active{
    cursor: default;
}

#ul-cards{
    transform: translateY(50px);
}

#ul-cards li{
    margin-top: -1.5rem;
    margin-bottom: -.6rem;
    width: fit-content;
    height: fit-content;
}

/*----*/

.imprimir{
    width: 200px;
    transform: translate(300px);
    margin: 3rem 2rem 2rem 2rem;
    padding: .5rem;
    background-color: rgb(255, 96, 39);
    border-radius: 30px;
    color: #fff;
    font-weight: bolder;
    user-select: none;
    cursor: pointer;
}

.imprimir{
    background-image: url(./img/print.png);
    background-position-y: center;
    background-position-x: 160px;
    background-repeat: no-repeat;
    background-size: 20px;
}

/* Modal Auth*/

.modal-auth{
    width: 500px;
    height: 380px;
    padding: 0rem 0rem 2rem 0rem;
    background-color: #fff;
    transform: translateY(10%);
    overflow-y: scroll;
    border-radius: 7px;
    display: none;
}

.modal-auth::-webkit-scrollbar{
    border-radius: 0px 7px 7px 0px;
}

.modal-auth .nav-auth{
    display: inline-flex;
    list-style: none;
    font-weight: bolder;
    width: 100%;
    height: 10%;
    user-select: none;
}

.modal-auth .nav-auth li{
    width: 100%;
    padding: 2rem;
    border-bottom: #000 solid 1px;
}

.modal-auth .nav-auth li:hover{
    transition: linear .3s;
    background-color: #0000001a;
    cursor: pointer;
}

.add-auth{
    margin-top: 3rem;
    animation: opacity .3s ease-in;
}

.add-auth .input-auth-ul{
    display: inline-flex;
    list-style: none;
}

.add-auth .input-auth-ul li{
    margin-left: .5rem;
}

.add-auth input{
    padding: 1rem;
    border-style: solid;
    border-radius: 30px;
    margin-bottom: 2rem;
}

.add-auth .add-auth-btn{
    width: 15px;
    height: 15px;
    padding: 1rem;
    background-color: #f16136;
    background-image: url(./img/seta.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 40%;
    border-radius: 100%;
}

.add-auth .add-auth-btn:hover{
    transition: linear .3s;
    background-color: #f85321;
    cursor: pointer;
}

.authorized-email{
    margin-top: .5rem;
    text-align: left;
    padding: 1rem;
    border-top: #000 solid 1px;
}

.authorized-email strong{
    user-select: none;
}

.authorized-email .delete-btn{
    width: 30px;
    height: 30px;
    background-color: rgb(247, 31, 31);
    border-radius: 100%;
    background-image: url(./img/delete.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 40%;
    margin-top: 1rem;
}

.authorized-email .delete-btn:hover{
    transition: linear .3s;
    cursor: pointer;
    background-color: rgb(248, 51, 51);
}

.access-requests{
    animation: opacity .3s ease-in;
    display: none;
}

.access-request{
    margin-top: 2rem;
    text-align: left;
    padding: 1rem;
    border-bottom: solid #000 1px;
}

.access-request strong{
    user-select: none;
}

.accept-btn{
    width: 30px;
    height: 30px;
    background-image: url(./img/aceitar.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    margin-top: .5rem;
}

.accept-btn:hover{
    transition: linear .3s;
    transform: scale(110%);
    cursor: pointer;
}

.deny-btn{
    width: 30px;
    height: 30px;
    background-image: url(./img/negar.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    position: absolute;
    transform: translate(50px, -30px);
}

.deny-btn:hover{
    transition: linear .3s;
    transform: translate(50px, -30px) scale(110%);
    cursor: pointer;
}